/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #ffffff;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Centered Window */
#center-window {
    position: relative; /* Changed from absolute to relative */
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 75vmin;
    min-height: 75vmin;
    max-width: 80%;
    max-height: 90%;
    overflow: auto;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
    justify-content: flex-start;
}
/* Buttons */
button {
    padding: 1em 2em;
    font-size: 4vmin;
    font-family: 'MTS Wide', sans-serif;
    cursor: pointer;
    background-color: #FF0032;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

#upload-button {
    margin-top: auto;
    margin-bottom: auto;
}
/* Adjusted hover effect for buttons */
button:hover {
    background-color: #cc0028; /* Slightly darker red on hover */
}


/* Help Button */
#help-button {
    position: absolute;
    bottom: 1%;
    right: 1%;
    background: none;
    border: none;
    cursor: pointer;
    height: 10vmin;
    width: 10vmin;
    box-shadow: none;
    padding: 2vmin;
    margin: 0;
}

#help-button img {
    width: 6vmin;
    height: 6vmin;
    /* padding: 0.7vmin; */
    box-sizing: border-box;
}

/* Help Window */
#help-window {
    position: fixed;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}


/* Center the upload button within the rectangle */


.close-help-button {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF0032;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.close-help-button:hover {
    background-color: #cc0028;
}

.help-content {
    flex-grow: 1;
    overflow: auto;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
}

/* Hidden File Input */
#file-input {
    display: none;
}

/* Loading Animation */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #ff0000; /* Red accent */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Input Fields */
.input-field {
    margin: 10px 0;
    width: 100%;
    color: #ffffff;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-family: 'MTS Wide';
}

.input-field input[type="text"],
.input-field select {
    width: 100%;
    padding: 10px;
    background-color: #3a3a3a;
    color: #ffffff;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
}

.input-field input[type="checkbox"],
.input-field input[type="radio"] {
    margin-right: 5px;
}

.input-field label.inline-label {
    display: inline;
    margin-left: 5px;
}

/* Image Display */
#result-image {
    max-width: 100%;
    max-height: 50vh;
    margin-bottom: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
}

/* Video Background */
#video-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%); /* Center the video container */
    overflow: hidden;
    z-index: -1;
}

#video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); /* Center the video */
    z-index: -1;
}

/* Header Title */
#header-title {
    font-family: 'MTS Wide', sans-serif;
    color: #000000;
    /* margin-bottom: 0.5em; */
    font-size: 5vmin;
    align-self: center;
    margin-top: 0;
}

